@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('./fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
}

body {
    font-family: 'PlayfairDisplay-Bold' 'Roboto-Light', -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
}

h1, h2, h3 {
    font-family: 'PlayfairDisplay-Bold';
}

p , li, .footer {
    font-family: 'Roboto-Light';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.logo {
    float: left;
    width: 27%;
  }

  .navigation {
      height: 5.2rem;
  }

.navigation li {
    display: inline-block;
    font-family: 'PlayfairDisplay-Bold';
    font-size: .8rem;
    margin-top: 2.4rem;
    margin-left: .6rem;
    padding-left: .5rem;
}

a {
    color: black;
    text-decoration: none;
}

a:link, a:visited {
    color:darkgrey;
}

.footer {
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
}

/* Home Page */

.introduction {
    color:white;
    position: relative;
    text-align: center;
}


.first-line {
    font-size: 1.5rem;
    left: 50%;
    position: absolute;
    top: 37%;
    text-align: left;
    transform: translate(-50%, -50%);
    width: 80%;
}


.second-line {
    font-size: .80rem;
    left: 50%;
    position: absolute;
    top: 57%;
    text-align: left;
    transform: translate(-50%, -50%);
    width: 80%;
}


.first_header, .second_header , .third_header {
    font-size: 1.5rem;
    text-align: left;
}

.first_point , .second_point , .third_point {
    color: #343d46;
    font-family: 'Roboto-Light';
    font-size: 1rem;
    line-height: 2rem;
    margin: 1rem;
    padding-left: 1.2rem;
    text-align: left;
}

.first_line , .second_line {
    padding-top: 1rem;
    text-align: center;
}

.header_social {
    color:white;
    padding-top: 2.5rem;
    position: relative;
    text-align: center;
}


.connect-with-me {
    font-size: 1.5rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 36%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.linked-in , .facebook, .discord {
    font-family: 'Roboto-Medium';
    padding-bottom: .3rem;
}

.linked-in {
    font-size: 1.4rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 55%;
    transform: translate(-50%, -50%);
}

.facebook {
    font-size: 1.4rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 65%;
    transform: translate(-50%, -50%);
}

.discord {
    font-size: 1.4rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 75%;
    transform: translate(-50%, -50%);
}


/* About Page */


.page_header2 {
    color: white;
    display: block;
    position: relative;
    text-align: center;
}


.about-intro {
    font-size: 1.4rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 37%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.aboutmecircle {
    left: 50%;
    padding-bottom: 3rem;
    position: absolute;
    text-align: center;
    top: 95%;
    transform: translate(-50%, -50%); 
    width: 50%; 
}


.paragraph_one {
    color: #343d46;
    font-size: .9rem;
    line-height: 2rem;
    margin: 1.5rem;
    padding-top: 5rem;

}

.about_me {
    box-shadow: 5px 5px 5px grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

.paragraph_two {
    color: #343d46;
    font-size: .9rem;
    line-height: 2rem;
    margin: 1.5rem;
    padding-top: 4rem;
    
}

/* Resume Page */

.resume {
    color: #343d46;
    font-size: .9rem;
    line-height: 1.5rem;
    margin: 1.4rem;
}

.resume h2 {
    font-size: 1.7rem;
    padding-top: 3rem;
    text-align: center;
}

#divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

/* My Work Page */


.page_header4 {
    color: white;
    display: block;
    position: relative;
    text-align: center;
}

.work_intro {
    font-size: 1.4rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 55%;
    transform: translate(-50%, -50%);
}

.blackbox {
    height: 7rem;
}

.work_content h2 {
    font-size: 1.5rem;
    text-align: center;
}
    

.philmmockupp1 , .pressrepublicanmockup1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  width: 50%;
}

.philm_link , .pr_link {
    text-decoration: underline;
}

.philmcaption , .prcaption {
    font-size: .9rem;
    line-height: 2rem;
    margin-left: 3.5rem;
    margin-right: 3rem;
    padding-top: 0.2rem;
}



/* Press Republican Page */

.pr_intro {
    background-image:linear-gradient(black, white);
    height: 16rem;
    position: sticky;
    padding-bottom: 5rem;
}


.prmockup {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 55%;
  padding-top: 6.5rem;
}

.space {
    height: 3.2rem;
}

.pr_content h1 {
    font-size: 1.3rem;
    padding-bottom: 4rem;
    padding-top:1rem;
    text-align: center;
}


.pr_content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.pr_content p {
    font-size: .95rem;
    line-height: 2rem;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}


/* Philm */

.philm_intro {
    background-image:linear-gradient(black, white);
    height: 20rem;
    position: sticky;
    padding-bottom: 5rem;
}

.philmmockup {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6.5rem;
    max-width: 55%;
}

.space2 {
    height:6.5rem;
}

.philm_content h1 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    padding-top: 4rem;
    text-align: center;
}

.philm_content img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.philm_content p {
    font-size: .9rem;
    line-height: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
